In [1]:
#IMPORT LIBRARIES
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
#READ DATASET
df = pd.read_csv('Amazon - Movies and TV Ratings.csv')
df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#FILLING NULL VALUES
df = df.fillna(0)
df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AH3QC2PC1VTGP,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A3LKP6WPMP9UKX,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AVIY68KEPQ5ZD,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A1CV1WROP5KTTW,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#CHANGING USER INDEXES INTO USER VALUES AND REMOVING USER_ID COLUMN
df.insert(0, "Users", ["User" + " " + str(i) for i in range(1,4849)])
df = df.drop("user_id", axis=1)

In [5]:
#SETTING USER NAMES AS INDEX
df = df.set_index("Users")

In [6]:
#STANDARDIZING EACH ROW IN DATAFRAME 
def standardize(row):
    new = row - (row - row.mean()) / (row.max() - row.min())
    return new

df_std = df.apply(standardize)

In [7]:
#APPLYING COSINE SIMILARITY ON STANDARDIZED DATAFRAME
item_similarity = cosine_similarity(df_std.T)

In [8]:
#CONVERTING STANDARDIZED NUMPY ARRAY TO DATAFRAME
item_similarity_df = pd.DataFrame(item_similarity, index=df.columns, columns=df.columns)
item_similarity_df #to view the similarity dataframe

,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,Movie10,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
Movie1,1.000000,1.000000,0.000309,0.000164,0.000587,0.000137,0.000116,0.000116,0.000116,0.000116,...,0.000242,0.000164,0.000116,0.000326,0.000196,0.000269,0.000180,0.000314,0.000673,0.000417
Movie2,1.000000,1.000000,0.000309,0.000164,0.000587,0.000137,0.000116,0.000116,0.000116,0.000116,...,0.000242,0.000164,0.000116,0.000326,0.000196,0.000269,0.000180,0.000314,0.000673,0.000417
Movie3,0.000309,0.000309,1.000000,0.000437,0.001566,0.000344,0.000309,0.000309,0.000309,0.000309,...,0.000645,0.000437,0.000309,0.000870,0.000523,0.000716,0.000412,0.000837,0.001793,0.001113
Movie4,0.000164,0.000164,0.000437,1.000000,0.000831,0.000194,0.000164,0.000164,0.000164,0.000164,...,0.000342,0.000232,0.000164,0.000461,0.000278,0.000380,0.000255,0.000444,0.000951,0.000590
Movie5,0.000587,0.000587,0.001566,0.000831,1.000000,0.000696,0.000587,0.000587,0.000587,0.000587,...,0.001225,0.000831,0.000587,0.001651,0.000994,0.001360,0.000914,0.001590,0.003405,0.002113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Movie202,0.000269,0.000269,0.000716,0.000380,0.001360,0.000318,0.000269,0.000269,0.000269,0.000269,...,0.000560,0.000380,0.000269,0.000755,0.000455,1.000000,0.000418,0.000727,0.001557,0.000967
Movie203,0.000180,0.000180,0.000412,0.000255,0.000914,0.000206,0.000180,0.000180,0.000180,0.000180,...,0.000376,0.000255,0.000180,0.000507,0.000305,0.000418,1.000000,0.000489,0.001046,0.000649
Movie204,0.000314,0.000314,0.000837,0.000444,0.001590,0.000372,0.000314,0.000314,0.000314,0.000314,...,0.000655,0.000444,0.000314,0.000883,0.000532,0.000727,0.000489,1.000000,0.001821,0.001130
Movie205,0.000673,0.000673,0.001793,0.000951,0.003405,0.000797,0.000673,0.000673,0.000673,0.000673,...,0.001402,0.000951,0.000673,0.001891,0.001138,0.001557,0.001046,0.001821,1.000000,0.002420
Movie206,0.000417,0.000417,0.001113,0.000590,0.002113,0.000495,0.000417,0.000417,0.000417,0.000417,...,0.000870,0.000590,0.000417,0.001174,0.000706,0.000967,0.000649,0.001130,0.002420,1.000000

In [9]:
#FUNCTION TO GET SIMILARITY OF EACH MOVIE FOR SPECIFIC USER RATING
def similarity(movie, user_rating):
    similarity_ratings = item_similarity_df[movie]*(user_rating - 2.5)
    similarity_ratings = similarity_ratings.sort_values(ascending=False)
    return similarity_ratings

In [10]:
#FUNCTION TO GET MOVIE RECOMMENDATION FOR PARTICULAR USER FROM ORIGINAL DATASET
def suggest_movies(user):
    movie = []
    rating = []
    for i in df.columns:
        if df[i][user] > 0:
            movie.append(i)
            rating.append(int(df[i][user]))
        merged  = [(movie[j], rating[j]) for j in range(0,len(movie))]
     
    similar_movies = pd.DataFrame()
    for movie,rating in merged:
        similar_movies = similar_movies.append(similarity(movie,rating), ignore_index= True)
        
    similar_movies = similar_movies.sum().sort_values(ascending=False) #most similar movies will be at the top
    return similar_movies[:10] #slicing to return only top 10 recommended movies

In [11]:
#TESTING RECOMMENDATION FOR USER 1 (USER_ID = A3R5OBKS7OM2IR)
testing = suggest_movies("User 1") 
print(testing)

Movie1      5.000000
Movie2      5.000000
Movie69     0.089758
Movie144    0.089758
Movie154    0.089758
Movie58     0.089758
Movie60     0.089758
Movie67     0.089758
Movie45     0.089758
Movie127    0.023684
dtype: float64