# Ramakant Vaidya
Problem Statement : Create a model for identification of color. Code will be given as an input image and code is supposed to categorize which RGB color it matches to.

In [1]:
#importing packages
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
#Read CSV file 
data = pd.read_csv('colours_rgb_shades.csv')

In [3]:
#visualising data in short format
data.head()

       Color Name Credits    R;G;B Dec RGB Hex CSS Hex BG/FG color sample
0            Grey       N     84;84;84  545454     NaN     ### SAMPLE ###
1    Grey, Silver       V  192;192;192  C0C0C0     NaN     ### SAMPLE ###
2            grey       X  190;190;190  BEBEBE     NaN     ### SAMPLE ###
3       LightGray       X  211;211;211  D3D3D3     NaN     ### SAMPLE ###
4  LightSlateGrey       X  119;136;153  778899     789     ### SAMPLE ###

In [4]:
#dropping unnecessary columns or null value columns 
data.drop(['BG/FG color sample', 'Credits', 'RGB Hex', 'CSS Hex'], axis = 1, inplace=True)

In [5]:
data

           Color Name    R;G;B Dec
0                Grey     84;84;84
1        Grey, Silver  192;192;192
2                grey  190;190;190
3           LightGray  211;211;211
4      LightSlateGrey  119;136;153
..                ...          ...
655              gold   205;127;50
656            silver  230;232;250
657      Silver, Grey  192;192;192
658  Light Steel Blue     84;84;84
659        Steel Blue   35;107;142

[660 rows x 2 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Color Name  646 non-null    object
 1   R;G;B Dec   660 non-null    object
dtypes: object(2)
memory usage: 10.4+ KB

In [7]:
data.dropna(axis=0, inplace=True)

In [8]:
#splitting data by ; 

data['R'] = data['R;G;B Dec'].apply(lambda x : int(x.split(';')[0]))
data['G'] = data['R;G;B Dec'].apply(lambda x : int(x.split(';')[1]))
data['B'] = data['R;G;B Dec'].apply(lambda x : int(x.split(';')[2]))
data.drop('R;G;B Dec', axis = 1, inplace=True)

In [9]:
data

           Color Name    R    G    B
0                Grey   84   84   84
1        Grey, Silver  192  192  192
2                grey  190  190  190
3           LightGray  211  211  211
4      LightSlateGrey  119  136  153
..                ...  ...  ...  ...
655              gold  205  127   50
656            silver  230  232  250
657      Silver, Grey  192  192  192
658  Light Steel Blue   84   84   84
659        Steel Blue   35  107  142

[646 rows x 4 columns]

In [10]:
#assigning index
data.index = [i for i in range(0, data.shape[0])]

In [11]:
data.reset_index(drop = False, inplace=True)

In [12]:
data.head()

   index      Color Name    R    G    B
0      0            Grey   84   84   84
1      1    Grey, Silver  192  192  192
2      2            grey  190  190  190
3      3       LightGray  211  211  211
4      4  LightSlateGrey  119  136  153

In [13]:
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import train_test_split

dataset=data[['index', 'R', 'G', 'B']].values

In [14]:
type(dataset)

numpy.ndarray

In [15]:
X = dataset[:, 1:]

Y = dataset[:, 0].reshape(-1,1)

In [16]:
X.shape

(646, 3)

In [17]:
Y.shape

(646, 1)

In [18]:
#creating knn model 

knn = KNeighborsRegressor(n_neighbors=1)

In [19]:
#X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state = 0)

In [20]:
#fitting knn model by X and Y

knn.fit(X, Y)
print(knn.score(X,Y))
#print(knn.score(X_test,y_test))

0.933150571271473

In [21]:
import cv2

In [22]:
#read image as input

img = cv2.imread('red.jpeg')

In [23]:
type(img)

numpy.ndarray

In [24]:
img.shape

(225, 225, 3)

In [25]:
#getting the center pixel
row = int(img.shape[0]/2)
col = int(img.shape[1]/2)

In [26]:
#creating array as RGB by arranging BGR 
arr = np.array([int(img[row, col, 2]), int(img[row, col, 1]), int(img[row, col, 0])]).reshape(1, -1)

In [27]:
arr

array([[255,   0,   0]])

In [28]:
#predicting input image by using knn prediction on trained data
knn.predict(arr)

array([[458.]])

In [29]:
#displaying output

names=['Red', 'Green', 'Blue']
print('Class: ',names[arr.argmax()])
print('Color Name: %s' %data[data['index']==int(knn.predict(arr)[0][0])]['Color Name'])

Class:  Red
Color Name: 458    red
Name: Color Name, dtype: object

In [30]:
#testing with image with pink color

img = cv2.imread('vk.jpeg')
row = int(img.shape[0]/2)
col = int(img.shape[1]/2)
arr = np.array([int(img[row, col, 2]), int(img[row, col, 1]), int(img[row, col, 0])]).reshape(1, -1)
knn.predict(arr)
names=['Red', 'Green', 'Blue']
print('Class: ',names[arr.argmax()])
print('Color Name: %s' %data[data['index']==int(knn.predict(arr)[0][0])]['Color Name'])

Class:  Red
Color Name: 474    Spicy Pink
Name: Color Name, dtype: object

In [31]:
#testing with image with dark blue color

img = cv2.imread('navy.jpeg')
row = int(img.shape[0]/2)
col = int(img.shape[1]/2)
arr = np.array([int(img[row, col, 2]), int(img[row, col, 1]), int(img[row, col, 0])]).reshape(1, -1)
knn.predict(arr)
names=['Red', 'Green', 'Blue']
print('Class: ',names[arr.argmax()])
print('Color Name: %s' %data[data['index']==int(knn.predict(arr)[0][0])]['Color Name'])

Class:  Blue
Color Name: 177    RoyalBlue5
Name: Color Name, dtype: object